# Shared Thermistor Configuration for Eddy USB/CAN Probe's Onboard Thermistor
# Assumes [gcode_macro _EDDY_PROBE_VARIABLES] is loaded.

[temperature_probe eddy_thermistor]
sensor_type: {{ printer["gcode_macro _EDDY_PROBE_VARIABLES"].probe_thermistor_type }}
sensor_pin: {{ printer["gcode_macro _EDDY_PROBE_VARIABLES"].mcu_name }}:{{ printer["gcode_macro _EDDY_PROBE_VARIABLES"].probe_thermistor_pin }}
min_temp: {{ printer["gcode_macro _EDDY_PROBE_VARIABLES"].probe_temp_min }}
max_temp: {{ printer["gcode_macro _EDDY_PROBE_VARIABLES"].probe_temp_max }}